<!DOCTYPE html>
<html>
<head>
    <title>Scraped Data</title>
</head>
<body>
    <h1>Scraped Data</h1>

    <h2>Classes</h2>
    <pre>{{ scraped_data.Classes }}</pre>

    <h2>Elements</h2>
    <pre>{{ scraped_data.Elements }}</pre>

    <h2>Attributes</h2>
    <pre>{{ scraped_data.Attributes }}</pre>

    <h2>Multivalued Attributes</h2>
    <pre>{{ scraped_data.Multivalued_Attributes }}</pre>

    <h2>Tags</h2>
    <pre>{{ scraped_data.Tags }}</pre>

    <h2>Names</h2>
    <pre>{{ scraped_data.Names }}</pre>

    <h2>NavigatableStrings</h2>
    <pre>{{ scraped_data.NavigatableStrings }}</pre>

    <h2>Comments</h2>
    <pre>{{ scraped_data.Comments }}</pre>

    <h2>CDATA</h2>
    <pre>{{ scraped_data.CDATA }}</pre>

    <h2>Processing Instructions</h2>
    <pre>{{ scraped_data.Processing_Instructions }}</pre>

    <h2>Declarations</h2>
    <pre>{{ scraped_data.Declarations }}</pre>

    <h2>Doctypes</h2>
    <pre>{{ scraped_data.Doctypes }}</pre>

    <h2>Contents</h2>
    <pre>{{ scraped_data.Contents }}</pre>

    <h2>Children</h2>
    <pre>{{ scraped_data.Children }}</pre>

    <h2>Descendants:</h2>
    <pre>{{ scraped_data.Descendants }}</pre>
    
    <h2>Strings:</h2>
    <pre>{{ scraped_data.Strings }}</pre>
    
    <h2>Stripped Strings:</h2>
    <pre>{{ scraped_data.Stripped_Strings }}</pre>
    
    <h2>Parents:</h2>
    <pre>{{ scraped_data.Parents }}</pre>
    
    <h2>Parents Hierarchy:</h2>
    <pre>{{ scraped_data.Parents_Hierarchy }}</pre>
    
    <h2>Next Sibling:</h2>
    <pre>{{ scraped_data.Next_Sibling }}</pre>
    
    <h2>Previous Sibling:</h2>
    <pre>{{ scraped_data.Previous_Sibling }}</pre>

    <h2>Next Siblings Hierarchy</h2>
    <pre>{{ scraped_data.Next_Siblings_Hierarchy }}</pre>

    <h2>Previous Siblings Hierarchy</h2>
    <pre>{{ scraped_data.Previous_Siblings_Hierarchy }}</pre>

    <h2>Next Element</h2>
    <pre>{{ scraped_data.Next_Element }}</pre>

    <h2>Previous Element</h2>
    <pre>{{ scraped_data.Previous_Element }}</pre>

    <h2>Next Elements Hierarchy</h2>
    <pre>{{ scraped_data.Next_Elements_Hierarchy }}</pre>

    <h2>Previous Elements Hierarchy</h2>
    <pre>{{ scraped_data.Previous_Elements_Hierarchy }}</pre>

    <h2>String Filter</h2>
    <pre>{{ scraped_data.String_Filter }}</pre>

    <h2>Regex Filter</h2>
    <pre>{{ scraped_data.Regex_Filter }}</pre>

    <h2>List Filter</h2>
    <pre>{{ scraped_data.List_Filter }}</pre>

    <h2>True Filter</h2>
    <pre>{{ scraped_data.True_Filter }}</pre>

    <h2>Function Filter</h2>
    <pre>{{ scraped_data.Function_Filter }}</pre>

    <h2>find_all</h2>
    <pre>{{ scraped_data.find_all }}</pre>

    <h2>Name Argument</h2>
    <pre>{{ scraped_data.Name_Argument }}</pre>

    <h2>Keyword Argument</h2>
    <pre>{{ scraped_data.Keyword_Argument }}</pre>

    <h2>Search by CSS Class</h2>
    <pre>{{ scraped_data.Search_by_CSS_Class }}</pre>

    <h2>String Argument</h2>
    <pre>{{ scraped_data.String_Argument }}</pre>

    <h2>Limit Argument</h2>
    <pre>{{ scraped_data.Limit_Argument }}</pre>

    <h2>Recursive Argument</h2>
    <pre>{{ scraped_data.Recursive_Argument }}</pre>

    <h2>CSS Selectors</h2>
    <pre>{{ scraped_data.CSS_Selectors }}</pre>

    <h2>All</h2>
    <pre>{{ scraped_data }}</pre>

</body>
</html>
